@charset "utf-8";
*
body {background-color:rgb(255,218, 185);
      font-family: 'Times New Roman', Times, serif;
      max-width: 350 px;

}

h1 {
      color: rgb(128, 0, 79);
  }
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1.5 px solid;
    border-color: palevioletred;
    text-align: center;
    font-size: 1.5em;
    font: bold;
    background-color: cadetblue;
    color: violet;
    

}

h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif

  

}

