@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Shippori+Mincho&display=swap');
*{
    box-sizing: border-box;
}
body {background-color:rgb(255,218, 185);
      font-family: 'Times New Roman', Times, serif;
      max-width: 350 px;
}

h1 {
      color: rgb(128, 0, 79);
  }
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:block;

    margin-right: auto;
    margin-left: auto;    
    padding-bottom: 40px;
    
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    position:fixed;
    background-color: cadetblue;
    top:0;
    width:100%;
}

nav li {
    
        float: left;
        display: block;
        border: 1.5 px solid blueviolet;
        text-align: center;
        font-size: 1.1em;
        width:50%;
}
    
nav a {

    color:rgb(71, 35, 9);
    text-align: center;
    padding: 8 px;
    text-decoration: none;
    font-size: 1.5em;
    float:left;
    display: block;
    font-weight: bold;
    background-color: cadetblue;
    
}

nav a:hover {
     color:cornsilk;
     background-color: blueviolet;


}


h1, h2 {
    
font-family: sans-serif;
}

section img {

    float: left;
    height: 250px;
    padding-right: 20px;
    
}



section p {

    display: inline;
    padding: 10px;
    margin: 30px;
}

p {

    font-family:serif;
}






